/* Global styles */
body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.header a {
  color: #00cc44;
  text-decoration: none;
  font-weight: bold;
}

.content {
  padding-top: 20px;
}

h2 {
  color: #555;
}

/* Chat container */
.emoji-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.emoji-option {
  cursor: pointer;
  padding: 5px;
}

#emoji-button {
  margin-bottom: 10px;
}

#login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  transition: opacity 0.5s ease;
}

#login-form {
  width: 300px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#blur-effect {
  filter: blur(5px);
  transition: filter 0.5s ease;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Set to 100vh (viewport height) */
  opacity: 1; /* Adjust opacity as needed */
  transition: opacity 0.05s ease;
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  padding: 6px 12px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}

/* Information */
#information {
  width: 100%;
  text-align: center;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#Welcome {
  margin-bottom: 10px;
}

/* Chat box */
#content {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

#chatbox {
  flex: 3;
  overflow: scroll;
  background-color: #222;
  border: 1px solid #444;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
}

#tabs {
  display: flex;
  background-color: #333;
  padding: 4px;
}

#tabs button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 8px 12px;
  margin-right: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#tabs button:hover {
  background-color: #444;
}

#tabs button.active {
  background-color: #444;
  border-bottom-color: transparent;
}

#tab-content {
  border: 1px solid #444;
  border-top: none;
  padding: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#top-row {
  display: flex;
}

.tab {
  flex: 1;
  padding: 10px;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #444;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tab:hover {
  background-color: #444;
}

.tab-content {
  flex: 1;
  padding: 10px;
  border: 1px solid #444;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.tab-content.active {
  display: block;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: right;
}

/* Input box */
#message-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#message {
  flex: 1;
  padding: 5px;
  border-radius: 10px;
}

/* User list */
#users {
  margin-top: 50px;
}

#user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#user-list li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

#user-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Responsive styles */

#bottom-row {
  flex: 3;
  width: 200px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#message {
  width: 100%;
  max-width: 100%;
}
